body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#09122C;
}
.button {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    background-color: #006aff;
    border: 8px solid #c0dfff;
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .text {
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .svg {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
  }
  .svg svg {
    width: 50px;
    height: 30px;
  }
  .button:hover {
    border: 8px solid #b1d8ff;
    background-color: #1b7aff;
  }
  .button:active {
    border: 5px solid #c0dfff;
  }
  .button:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  